<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 12%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">

          <form name="offerForm">

            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Offer' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Offer' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Offer Code -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Offer Code' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-tag grey-text"></i></div>
                </div>

                <input type="text" name="offerCode" [(ngModel)]="form.data.offerCode" class="form-control"
                  maxlength="20" placeholder="{{ 'Enter Offer Code' | translate }}">
              </div>

              <span *ngIf="form.inputerror.offerCode" class="alertRedColor">
                {{ form.inputerror.offerCode }}
              </span>
            </div>

            <!-- Discount Amount -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Discount Amount' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-rupee-sign grey-text"></i></div>
                </div>

                <input type="number" name="discountAmount" [(ngModel)]="form.data.discountAmount" class="form-control"
                  placeholder="{{ 'Enter Discount Amount' | translate }}">
              </div>

              <span *ngIf="form.inputerror.discountAmount" class="alertRedColor">
                {{ form.inputerror.discountAmount }}
              </span>
            </div>

            <!-- Expiry Date -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Expiry Date' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar grey-text"></i></div>
                </div>

                <input type="date" name="expiryDate" [value]="form.data.expiryDate | date:'yyyy-MM-dd'"
                  (input)="form.data.expiryDate=parseDate($event.target.value)" class="form-control form-control-sm"
                  required />
              </div>

              <span *ngIf="form.inputerror.expiryDate" class="alertRedColor">
                {{ form.inputerror.expiryDate }}
              </span>
            </div>

            <!-- Offer Status -->
            <div class="form-group pt-2">
              <label>
                <b>{{ 'Offer Status' | translate }}</b>
                <span class="required-field">*</span>
              </label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-toggle-on grey-text"></i></div>
                </div>

                <select class="form-control" name="offerStatus" [(ngModel)]="form.data.offerStatus"
                  aria-label="ngSelected" required>
                  <option [ngValue]="undefined">{{ 'Select Status' | translate }}</option>
                  <option value="ACTIVE">{{ 'ACTIVE' | translate }}</option>
                  <option value="INACTIVE">{{ 'INACTIVE' | translate }}</option>
                  <option value="EXPIRED">{{ 'EXPIRED' | translate }}</option>
                </select>
              </div>

              <span *ngIf="form.inputerror.offerStatus" class="alertRedColor">
                {{ form.inputerror.offerStatus }}
              </span>
            </div>

            <!-- Buttons -->
            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/offerlist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>