<app-navbar></app-navbar>

<div class="content-wrapper" style="padding-top:12%">
  <div class="container-fluid">

    <h1 class="text-primary text-center">Inquiry List</h1>

    <!-- Search -->
    <div class="row search-inputs p-2 justify-content-center">

      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="form.searchParams.inquirerName" placeholder="Name">
      </div>

      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="form.searchParams.email" placeholder="Email">
      </div>

      <div class="col-sm-2">
        <select class="form-control" [(ngModel)]="form.searchParams.inquiryStatus">
          <option [ngValue]="undefined">Select Status</option>
          <option *ngFor="let s of form.preload.statusList | keyvalue" [value]="s.value">
            {{ s.value }}
          </option>
        </select>
      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary w-100" (click)="submit()">Search</button>
      </div>

      <div>
        <button class="btn btn-success w-100" (click)="forward('/inquiry')">
          Add Inquiry
        </button>
      </div>

      <div class="col-sm-1">
        <button class="btn btn-danger w-100" (click)="deleteMany()">Delete</button>
      </div>
    </div>

    <!-- Messages -->
    <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ form.message }}
    </div>

    <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ form.message }}
    </div>

    <!-- Table -->
    <table class="table table-bordered table-dark mt-3">
      <thead>
        <tr align="center">
          <th>
            <input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)">
          </th>
          <th>S.No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Status</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let i of form.list; let idx=index" align="center">
          <td>
            <input type="checkbox" #checkboxes [id]="i.id" (change)="checklistUpdate()">
          </td>
          <td>{{ (form.pageNo * 5) + idx + 1 }}</td>
          <td>{{ i.inquirerName }}</td>
          <td>{{ i.email }}</td>
          <td>{{ i.inquirySubject }}</td>
          <td>{{ i.inquiryStatus }}</td>
          <td>
            <button class="fa fa-edit text-primary" (click)="forward('/inquiry/' + i.id)">
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between mt-3">
      <button class="btn btn-info" (click)="previous()" [disabled]="form.pageNo == 0">
        Previous
      </button>

      <a class="btn btn-warning" [routerLink]="['/inquirylist']" (click)="exit()">Reset</a>

      <button class="btn btn-info" (click)="next()" [disabled]="nextList == 0">
        Next
      </button>
    </div>

  </div>
</div>

<app-footer></app-footer>