<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top:12%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">

          <form name="contractForm">

            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
              Add Contract
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold text-center">
              Update Contract
            </h2>

            <!-- Messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name -->
            <div class="form-group pt-2">
              <label><b>Name</b><span class="required-field">*</span></label>
              <input type="text" name="name" [(ngModel)]="form.data.name" class="form-control" placeholder="Enter Name">
              <span *ngIf="form.inputerror.name" class="alertRedColor">
                {{ form.inputerror.name }}
              </span>
            </div>

            <!-- City -->
            <div class="form-group pt-2">
              <label><b>City</b><span class="required-field">*</span></label>
              <select class="form-control" name="city" [(ngModel)]="form.data.city">
                <option [ngValue]="undefined">Select City</option>
                <option *ngFor="let c of form.preload.cityList | keyvalue" [value]="c.value">
                  {{ c.value }}
                </option>
              </select>
              <span *ngIf="form.inputerror.city" class="alertRedColor">
                {{ form.inputerror.city }}
              </span>
            </div>

            <!-- DOB -->
            <div class="form-group pt-2">
              <label><b>Date of Birth</b><span class="required-field">*</span></label>
              <input type="date" name="dob" [value]="form.data.dob | date:'yyyy-MM-dd'"
                (input)="form.data.dob=parseDate($event.target.value)" class="form-control">
              <span *ngIf="form.inputerror.dob" class="alertRedColor">
                {{ form.inputerror.dob }}
              </span>
            </div>

            <!-- Mobile -->
            <div class="form-group pt-2">
              <label><b>Mobile No</b><span class="required-field">*</span></label>
              <input type="number" name="mobileNo" [(ngModel)]="form.data.mobileNo" class="form-control"
                placeholder="Enter Mobile Number">
              <span *ngIf="form.inputerror.mobileNo" class="alertRedColor">
                {{ form.inputerror.mobileNo }}
              </span>
            </div>

            <!-- Buttons -->
            <div class="row pt-2 pl-2 pb-3">
              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  Save
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  Update
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" [routerLink]="['/contractlist']"
                  style="color:white;text-decoration:none">
                  List
                </a>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>